$fa-font-path: "../../node_modules/font-awesome/fonts";

@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bulma/bulma";

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.box{
    background-color: white;
    padding: 10px;
}

.datepicker{
    input{
        border: 0px;
        font-size: 1em;
        width: 100%;
    }
}

.add-form{
    margin-bottom: 10px;
}

.textarea{
    resize: none;
}

.filter-notes{
    margin: 10px 0px;
}

.content {
    ul.note-list{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        .note-item{
            margin: 5px 0px 5px 0px;
            border: 1px solid #e1e1e1;
            background-color: white;
            display: table;
            width: 100%;
            min-height: 50px;
            .checkbox{
                background-color: #f0f0f0;
                height: 100%;
                width: 41px;
                align-items: stretch;
                flex: 0.1;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                .is-not-completed{
                    .complete-note{
                        width: 25px;
                        height: 25px;
                        background-color: white;
                        margin: auto;
                        border-radius: 50%;
                    }
                }
            }
            .note-title{
                padding: 16px;
                align-items: stretch;
                flex: 1;
                display: table-cell;
                .note-status{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}